/*  element styles  */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #def4f0;
  font-family: Merriweather, serif;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  height: 2000px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
  margin-bottom: 60px;
  margin-top: 60px
}

p {
  color: green;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Jost, sans-serif;
  font-size: 3.5rem;
  color: blue;
}

h3 {
  font-family: merriweather, sans-serif;
  color: purple;
  text-align: left;
}

ul {
  list-style-type: disc;
  position: fixed;
  z-index: 1;
  color: #b8e7df;
  text-decoration: none;
  padding-top: 1em;
  font-family: Jost, sans-serif;

}

li {
  display: inline;
  position: relative;
  left: 930%;
  color: #faf2f2;
}

li a {
  text-decoration: none;
  color: #7fd4c5;
}

/* class styles */

.top-container {
  background-color: #def4f0;
  width: 100%;
  height: 80px;
  padding: 22px;
}

.middle-container {
  background-color: #faf2f2;
  width: 100%;
  height: 2200px;

}

.bottom-container {
  background-color: #def4f0;
  width: 100%;
  height: 175px;
}

.btn-div {
  height: 50px;
}

.main-page {
  height: 860px;
}

.p-alignleft {
  text-align: left;
  line-height: 2;
}

.nav {
  position: relative;
  min-height: 50px;
  padding: 0 0 0 0;
}

.cad {
  float: left;
  margin-right: 70px;
  width: 20%;
}

.rev {
  float: right;
  width: 28%;
}

.linkedin {
  height: 50px;
  width: 55px;
  position: relative;
  top: 40px;
}

.copywrite {
  position: relative;
  top: 50px;
  right: 10px;
  text-decoration: none;
  color: black;
}

.copywrite:hover {
  color: white;
}

.profile-pic {
  position: relative;
  top: 10px;
  padding-top: 100px;
}

.goal-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.first-p {
  text-align: center;
  width: 50%;
  line-height: 2;
  position: relative;
  left: 420px;
}

.bottom-p {
  text-align: center;
}

.btn {
  background:    #15d798;
border-radius: 11px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 23px/1 "Open Sans", sans-serif;
text-align:    center;
   text-decoration: none;
   vertical-align: middle;
   position: relative;
   top: 60px;
   transition-duration: 0.4s;

   }
.btn:hover {
   border-top-color: #4da7e3;
   background: #4da7e3;
   color: #ccc;

   }
.btn:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.bio {
  text-align: center;
}
.goal {
  padding-bottom: 70px;
}

/*  id styles  */

#bothr {
  position: relative;
right: 0px;

  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#logopic {
  top: 20;
  width: 100px;
  position: absolute;
  left: 50px;
}

#name {
  margin: 0;
  position: relative;
  top: 0;
  font-family: Sacramento, sans-serif;
  color: #7fd4c9;
  font-size: 462.5%;
}

#jobdescrip {
  margin-left: 10px;
  font-family: Jost, sans-serif;
  position: relative;
  bottom: 10px;
  color: #7fd4c9;
  font-size: 200%;
  line-height: 2;
}

#buildingpic {
  position: relative;
  bottom: 190px;
  height: 700px;
  width: 100%;
}

#contact-link {
  position: relative;

}

#home-link {
  position: relative;
  right: 190px;
}

#about-link {
  position: relative;
  right: 90px;
}
